body{
    font-family: 'Poppins', sans-serif;
}
h1 span.name-highlight{
    color: orange;
}
.hero-section{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.hero-section img{
    width: 100%;
    height: 100%;
}